<% @users.results.each do |user| %>
       <div id='users' style="margin-top:15px;">
           <div id='user' style="width:220px; float:left">
               <table >
                   <tr>
                       <td><h3><%= user.firstName %> <%= user.lastName %></h3></td>
                   </tr>

                   <tr><td><%= user.gender %></td></tr>
                   <tr><td><%= user.homeCity %></td></tr>
                   <tr><td colspan=4><%= link_to 'Badges',  user_badges_path(user.id, user.firstName+" "+user.lastName), html_options = {:class=>"href_ajax"} %>-
						<%= link_to 'Friends', user_friends_path(user.id, user.firstName+" "+user.lastName), html_options = {:class=>"href_ajax"}  %></td></tr>
               </table>
           </div>
           <div id="user_photo" style="margin-right:15px;float:left;">
               <%= image_tag user.photo %>

           </div>

       </div>
       <div style="clear:both"></div>￼ 
<% end %>