
<div id="head" style="text-align:center"><h3><%= params[:name]%>'s Friends</h3></div>
<br><br>
<% cont=0%>
<% @friends.each do |user| %>
      <div id='users' style="margin-top:15px;float:left;margin-right:45px;">
          <div id='user' style="width:120px; float:left">
              <table >
                  <tr>
                      <td><h3><%= user.firstName %> <%= user.lastName %></h3></td>
                  </tr>
                  <tr><td><%= user.homeCity %></td></tr>
              </table>
          </div>
          <div id="user_photo" style="margin-right:15px;float:left;">
              <%= image_tag user.photo, :size => "45x45"%>
          </div>
      </div>
      <% cont+=1%>
      <%if cont ==3%>
        <div style="clear:both;">
      <% cont = 0
      end%>


<% end %>
