
<%=javascript_include_tag "javascripts/jquery.validate.js"%>
<ul class="nav nav-list">
  <li class="nav-header">FourSquare Search</li>
  <% if current_user %>
  		Welcome <%=current_user.name%>
  		<%= link_to "Sign out", signout_path%>
  <% else %>
	<%=link_to "Sign in with twitter", "/auth/twitter" %>
	<br>
	<br>
	<%=link_to "Sign in with foursquare", "/auth/foursquare" %>

	<%end%>


</ul>



