

<div style="width:40%; float:left">
<%@venues.groups[0].items.each do |venue|%>
<table style="border-bottom: 1px solid #d4d4d4; margin-right:10px">
   <tr><td>
       <h3 style="background-color: #f5f5f5"><%=venue.name%></h3>
	</td></tr>
		<%if venue.location.address != nil%>
			<tr><td>
				<%=venue.location.address%>
			</td></tr>
		<%end%>
		<tr><td>
			<%=venue.location.city%><span> - </span><%=venue.location.country%>
		</td></tr>
		<%if venue.url != nil%>
			<tr><td>
				<%=link_to "pagina web", venue.url%>
			</td></tr>
		<%end%>
		<%if venue.contact.twitter != nil%>
			<tr><td>
			<span>@</span><%=venue.contact.twitter%>
			</td></tr>
		<%end%>
		<tr><td><%= link_to 'Tips', venues_tips_path(venue.id, venue.name), html_options = {:class=>"href_ajax"}  %></td></tr>
       
</table>
<br><br>
<%end%>
</div>
<div style="width:60%; float:left">
   <%= image_tag @image_gmaps%>
</div>
